

<div ng-controller="ProfileController">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/profile">BucketList</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/dashboard">Dashboard</a></li>
      <li class="active"><a>Profile</a>
      </li>
      <li><a href="#/">Logout</a></li>
    </ul>
  </div>
  </nav>

  <h2><span ng-bind="viewedUser.name"></span>'s Bucket List</h2>
  <h3>Done</h3>
  <form role="form">
    <div class="form-group" ng-repeat="bucket in othercompletedBuckets">
      <input type="checkbox" checked disabled/>
      <p>
        <span ng-bind="bucket.createdBy"></span> - <span ng-bind="bucket.title"></span> - <span ng-bind="bucket.description"></span> - <span ng-bind="bucket.createdAt"></span>.
      </p>
    </div>
    <div class="form-group" ng-repeat="bucket in ourcompletedBuckets">
      <input type="checkbox"  ng-click="changeStatus(bucket._id, bucket.completed)" checked/>
      <p>
        <span ng-bind="bucket.createdBy"></span> - <span ng-bind="bucket.title"></span> - <span ng-bind="bucket.description"></span> - <span ng-bind="bucket.createdAt"></span>.
      </p>
    </div>
  </form>
  <h3>Pending</h3>
  <form role="form">
    <div class="form-group" ng-repeat="bucket in otherpendingBuckets">
      <input type="checkbox" disabled/>
      <p>
        <span ng-bind="bucket.createdBy"></span> - <span ng-bind="bucket.title"></span> - <span ng-bind="bucket.description"></span> - <span ng-bind="bucket.createdAt"></span>.
      </p>

    </div>
    <div class="form-group" ng-repeat="bucket in ourpendingBuckets">
      <input type="checkbox" ng-click="changeStatus(bucket._id, bucket.completed)"/>
      <p>
        <span ng-bind="bucket.createdBy"></span> - <span ng-bind="bucket.title"></span> - <span ng-bind="bucket.description"></span> - <span ng-bind="bucket.createdAt"></span>.
      </p>

    </div>

  </form>


</div>
